{% extends 'layouts/index.html' %}


{% block content %}
    <style type="text/css">
    .products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 5%;
        padding: 50px;

    }
    </style>
    <div class="products">
       {% for product in  products %}
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <h5 class="card-title">{{ product.title }}</h5>
                   <h6 class="card-subtitle mb-2 text-muted">Price: {{ product.price }}</h6>
                   {% for category in products.categories_list %}
                       <p>{{ category.title }}</p>
                   {% endfor %}
                   <a href="#" class="card-link">More</a>
                   <a href="#" class="card-link">Another link</a>
               </div>
           </div>
       {% endfor %}
    </div>
{% endblock %}